body{
    margin:0px;
    padding:0;
    background-color: #A1DCFE;
   background-repeat:  no-repeat;
  background-position: top center;
}
html,*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
P{
    
font-family:Arial, Helvetica, sans-serif ;
font-size:large ;
font-weight: 300;
font-style:italic;
color:#999;
text-align: top right;
text-decoration: underline;
text-transform: capitalize;
text-shadow:1px 0px 1px #f04;
/* text-wrap: ; */
/* text-overflow: ; */

}
span{
color:blue;size: 30px;
}
#para{
    color:aqua;
    display: inline;
}
ul{
   background-color: ; 
}
